body {
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-top: 30px;
    margin-bottom: 30px;
}

a.btn {
    background-color: #7a16af;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
}

a.btn:hover {
    background-color: #7a16af;
}

table {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #7a16af;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

table td {
    text-align: center;
    vertical-align: middle;
}

table tbody tr {
    background-color: white;
    transition: background-color 0.3s ease;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table td button {
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border-radius: 15px;
}

.btn-success:hover {
    background-color: #218838;
    border-radius: 15px;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border-radius: 15px;
}

.btn-danger:hover {
    background-color: #c82333;
    border-radius: 15px;
    
}

.mt-2 {
    margin-top: 10px;
}


.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.status.completed {
    background-color: #28a745;
}
.status.in-progress {
    background-color: #ffc107;
    color: #333;
}